﻿@model Blog_InternetApplications.Models.Comment
<div class="display-field">
       <h2> @Html.DisplayFor(model => model.Body)</h2>
</div>
 <div class="display-field">
                Cach day: @Html.DisplayFor(model => model.LastTime) phut
            </div>
            <div class="display-field">
                Ngay tao: @Html.DisplayFor(model => model.DateCreated)
            </div>
        

